// color
$orange: #f61; //rgb(247,96,14)
$black: rgb(65, 72, 78); //rgba(65, 72, 78, 0.9)
$gray: #9da1a5; //rgb(157,161,165)
$white: #fff;

@mixin linear_background($url) {
  background: linear-gradient(rgba(65, 72, 78, 0.4), rgba(65, 72, 78, 0.4)),
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url($url);
}
