* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 100vh;
  background: linear-gradient(rgba(65, 72, 78, 0.4), rgba(65, 72, 78, 0.4)), linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../../img/header_background.jpg);
  background-position: center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .header-menu {
  position: absolute;
  top: 3.2rem;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.6rem;
  width: 80%;
}
header .header-menu .header-logo {
  width: 15.8rem;
  height: 1.8rem;
}
header .header-menu .menu-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .header-menu .menu-group > * {
  margin: 0 0.5rem;
}
header .header-menu .menu-group span {
  font-size: 1.6rem;
  padding: 0;
}
header .header-heading-text {
  font-size: 7rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
header .header-heading-text span {
  color: #f61;
}
header .header-content-text {
  width: 70%;
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
  margin-bottom: 4.8rem;
}
header .header-button-group {
  text-align: center;
}
header .header-button-group .header-btn {
  min-width: 20rem;
  max-height: 5rem;
  font-size: 1.6rem;
  margin: 0 2.7rem;
}
header .header-button-group .header-btn:nth-child(2) {
  border: 1px solid #9da1a5;
  background: transparent;
}

footer {
  height: 5rem;
  background: #41484e;
  display: flex;
  align-items: center;
  height: 8rem;
}
footer .container.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  text-transform: uppercase;
}
footer .container.footer-container .column-right span {
  color: red;
}

.btn {
  background: #f61;
  border: none;
  color: white;
  text-transform: uppercase;
  border-radius: 1rem;
  padding: 1.5rem 5rem;
  font-size: 1.6rem;
  min-width: 16rem;
  min-height: 5rem;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.circle-icon {
  width: 3.4rem;
  height: 3.4rem;
  border: 2px solid white;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  bottom: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.circle-icon:hover {
  cursor: pointer;
}
.circle-icon a {
  color: white;
}

section {
  padding: 10rem 0 10rem 0;
}

.about-section {
  text-align: center;
}
.about-section .about-section-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10rem;
}
.about-section .about-section-container .design-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18.9rem;
}
.about-section .about-section-container .design-list .design-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9da1a5;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}
.about-section .about-section-container .design-list .design-list-heading {
  margin: 3rem 0;
  font-size: 2.1rem;
  text-transform: uppercase;
}

.subscribe-section {
  background: linear-gradient(rgba(65, 72, 78, 0.4), rgba(65, 72, 78, 0.4)), linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../../img/subscribe_section_background.jpg");
  background-size: cover;
  background-position: center;
}
.subscribe-section .subscribe-section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}
.subscribe-section .subscribe-section-container .subscribe-input {
  height: 5rem;
  padding: 0 2.3rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  width: 56rem;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}
.subscribe-section .subscribe-section-container .subscribe-input:focus {
  box-shadow: 0 0 5px #f61;
}
.subscribe-section .subscribe-section-container .subscribe-button {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  padding: 0 9rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.work-section .work-heading {
  text-transform: uppercase;
  font-size: 3.5rem;
}
.work-section .work-heading span {
  color: #f61;
}
.work-section .work-text {
  text-align: center;
  width: 70%;
  margin: 1.57rem 0 6.78rem 0;
}
.work-section .work-image-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}
.work-section .work-image-area .single-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  position: relative;
}
.work-section .work-image-area .single-image .single-image-content {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
}
.work-section .work-image-area .single-image .single-image-content .single-image-heading {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.work-section .work-image-area .single-image .single-image-content .single-image-text {
  text-align: center;
  margin: 2.1rem 4.5rem;
}
.work-section .work-image-area .single-image .single-image-content .single-image-btn {
  background: white;
  color: #f61;
}
.work-section .work-image-area .single-image:hover {
  background: #f61;
}
.work-section .work-image-area .single-image:hover .work-img {
  opacity: 0.2;
  transition: opacity linear 0.3s;
}
.work-section .work-image-area .single-image:hover .single-image-content {
  display: flex;
}
.work-section .work-btn {
  margin-top: 10rem;
}

.feedback-section {
  background: linear-gradient(rgba(65, 72, 78, 0.4), rgba(65, 72, 78, 0.4)), linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../../img/feedback_background.jpg");
  background-size: cover;
  background-position: bottom;
  color: white;
}
.feedback-section .feedback-container {
  position: relative;
}
.feedback-section .feedback-container .feedback-text {
  margin: 4rem 0;
  text-align: center;
  font-size: 2.5rem;
}
.feedback-section .feedback-container .feedback-name {
  font-size: 1.8rem;
}
.feedback-section .feedback-container .arrow-slide {
  position: absolute;
  top: 50%;
  color: #9da1a5;
  font-size: 5rem;
  transform: translate(0, -50%);
}
.feedback-section .feedback-container .arrow-slide:hover {
  color: white;
  cursor: pointer;
}
.feedback-section .feedback-container .left-arrow {
  left: 0;
}
.feedback-section .feedback-container .left-arrow:active {
  transform: translate(-0.5rem, -50%);
  transition: transform linear 0.1s;
}
.feedback-section .feedback-container .right-arrow {
  right: 0;
}
.feedback-section .feedback-container .right-arrow:active {
  transform: translate(0.5rem, -50%);
  transition: transform linear 0.1s;
}

.team-section .team-heading {
  text-transform: uppercase;
  font-size: 3.5rem;
}
.team-section .team-heading span {
  color: #f61;
}
.team-section .team-describe {
  width: 40%;
  height: 8.3rem;
  overflow: hidden;
  font-size: 1.6rem;
  text-align: center;
  line-height: 3rem;
  margin-top: 1.53rem;
}
.team-section .members-list {
  width: 100%;
  display: flex;
  align-items: baseline;
  margin-top: 9.86rem;
  gap: 1rem;
}
.team-section .members-list .member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 25%;
}
.team-section .members-list .member .img-header .member-img {
  width: 100%;
  filter: grayscale(100%);
  border-radius: 1rem;
}
.team-section .members-list .member .img-header .member-img:hover {
  filter: none;
  transform: scale(1.1);
  transform-origin: bottom;
  transition: transform linear 0.2s;
  cursor: pointer;
}
.team-section .members-list .member .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-section .members-list .member .card-body .member-name {
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: 2.5rem;
}
.team-section .members-list .member .card-body .list-icon {
  margin: 2.7rem 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.team-section .members-list .member .card-body .list-icon a {
  color: white;
  text-decoration: none;
}
.team-section .members-list .member .card-body .list-icon a i {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.team-section .members-list .member .card-body .member-description {
  font-size: 1.4rem;
}

.contact-section {
  color: #fff;
  background: linear-gradient(rgba(65, 72, 78, 0.4), rgba(65, 72, 78, 0.4)), linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../../img/contact_background.jpg");
}
.contact-section .contact-heading {
  text-transform: uppercase;
  font-size: 3.5rem;
}
.contact-section .contact-heading span {
  color: #f61;
}
.contact-section .contact-describe {
  width: 40%;
  height: 8.3rem;
  overflow: hidden;
  font-size: 1.6rem;
  text-align: center;
}
.contact-section .contact-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem;
}
.contact-section .contact-form .input-email,
.contact-section .contact-form .input-subject {
  flex-basis: calc(100% / 2 - 1.5rem);
  padding: 2rem;
  font-size: 1.5rem;
  outline: none;
  border-radius: 1rem;
  border: none;
}
.contact-section .contact-form .text-message {
  flex-basis: 100%;
  max-width: 100%;
  max-height: 20rem;
  min-height: 20rem;
  padding: 2rem;
  font-size: 1.5rem;
  outline: none;
  border-radius: 1rem;
  border: none;
}
.contact-section .contact-form .button-and-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.contact-section .contact-form .button-and-icons .icons-group {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
}
.contact-section .contact-form .button-and-icons .icons-group .icon a {
  text-decoration: none;
}
.contact-section .contact-form .button-and-icons .icons-group .icon a i {
  color: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 4.3rem;
  height: 4.3rem;
}

.f-icon {
  background: #3c5b9b;
}

.t-icon {
  background: #2daae1;
}

.g-icon {
  background: #f63d27;
  color: white;
}

.b-icon {
  background: #2d9ad2;
}

@media only screen and (max-width: 600px) {
  .btn {
    width: 100%;
  }

  header .header-heading-text {
    font-size: 4rem;
  }
  header .header-content-text {
    font-size: 1.6rem;
  }
  header .header-button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .team-section .team-describe {
    width: 80%;
  }
  .team-section .members-list {
    width: 80%;
    flex-direction: column;
    gap: 8rem;
  }

  .subscribe-section .subscribe-section-container {
    flex-direction: column;
  }
  .subscribe-section .subscribe-section-container .subscribe-input {
    width: 100%;
  }

  .contact-section .contact-describe {
    width: 80%;
  }
  .contact-section .contact-form {
    width: 100%;
    margin-top: 1.6rem;
  }
  .contact-section .contact-form .input-email,
.contact-section .contact-form .input-subject {
    flex-basis: 100%;
  }
  .contact-section .contact-form .button-and-icons {
    flex-direction: column;
    gap: 3.2rem;
    align-items: center;
  }
}
@media only screen and (min-width: 601px) and (max-width: 990px) {
  .team-section .team-describe {
    width: 90%;
  }
  .team-section .members-list {
    flex-wrap: wrap;
    gap: 3rem;
  }
  .team-section .members-list .member {
    flex-basis: calc(100% / 2 - 1.5rem);
  }
  .team-section .members-list .member .img-header .member-img:hover {
    transform: scale(1.05);
  }

  .work-section .work-text {
    width: 90%;
  }
  .work-section .work-image-area {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }
  .work-section .work-image-area .single-image {
    flex-basis: calc(100% / 2 - 0.5rem);
  }

  .contact-section .contact-describe {
    width: 90%;
  }
  .contact-section .contact-form {
    margin-top: 3.2rem;
  }
}
@media screen and (min-width: 991px) and (max-width: 1152px) {
  .about-section .about-section-container {
    gap: 1rem;
  }
  .about-section .about-section-container .design-list {
    flex-basis: calc(100% / 4 - 1rem);
  }
}

/*# sourceMappingURL=main.css.map */
