@import "../color";

footer {
  height: 5rem;
  background: $black;
  display: flex;
  align-items: center;
  height: 8rem;
  .container {
    &.footer-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: white;
      text-transform: uppercase;
      .column-right {
        span {
          color: red;
        }
      }
    }
  }
}
