@import "../color";

header {
  height: 100vh;
  background: linear-gradient(rgba(59, 67, 76, 0.8), rgba(59, 67, 76, 0.8)),
    url("../../img/header_background.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .header-heading-text {
    font-size: 8rem;
    text-transform: uppercase;
    color: white;
    span {
      color: $orange;
    }
  }
  .header-content-text {
    width: 68%;
    text-align: center;
    color: $white;
    margin-bottom: 4.8rem;
  }
  .btn {
    &.header-button {
      margin: 1rem;
    }
  }
}
