@import "../color";

header {
  height: 100vh;
  background: linear-gradient(rgba(65, 72, 78, 0.9), rgba(65, 72, 78, 0.9)),
    url("../../img/header_background.jpg");
  background-position: center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .header-menu {
    position: absolute;
    top: 3.2rem;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.6rem;
    width: 70%;
    .logo {
      span {
        color: $orange;
      }
    }
    .menu-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      > * {
        margin: 0 0.5rem;
      }
      span {
        font-size: 1.6rem;
        padding: 0;
      }
    }
  }
  .header-heading-text {
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    span {
      color: $orange;
    }
  }
  .header-content-text {
    width: 65%;
    text-align: center;
    color: $white;
    margin-bottom: 4.8rem;
  }
  .header-button-group {
    text-align: center;
    .header-btn {
      min-width: 20rem;
      max-height: 5rem;
      font-size: 1.6rem;
      &:nth-child(2) {
        border: 1px solid $gray;
        background: transparent;
      }
      margin: 0 1rem;
    }
  }
}
