@import "../color";

header {
  height: 100vh;
  background: linear-gradient(rgba(59, 67, 76, 0.8), rgba(59, 67, 76, 0.8)),
    url("../../img/header_background.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .header-menu {
    position: absolute;
    top: 1.6rem;
    display: flex;
    justify-content: space-between;
    width: 70%;
    color: white;
    font-size: 3rem;
    .logo {
      span {
        color: $orange;
      }
    }
    .menu-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      > * {
        margin: 0 0.5rem;
      }
      span {
        background: pink;
        font-size: 1.6rem;
        padding: 0;
        height: fit-content;
      }
    }
  }
  .header-heading-text {
    font-size: 8rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
    span {
      color: $orange;
    }
  }
  .header-content-text {
    width: 68%;
    text-align: center;
    color: $white;
    margin-bottom: 4.8rem;
  }
  .header-button-group {
    text-align: center;
    .btn {
      &.header-btn {
        margin: 0 1rem;
      }
    }
  }
}
