section {
  padding: 10rem 0 10rem 0;
}

.about-section {
  text-align: center;
  .about-section-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10rem;
    .design-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 18.9rem;
      .design-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $gray;
        border-radius: 50%;
        width: 15rem;
        height: 15rem;
      }
      .design-list-heading {
        margin: 3rem 0;
        font-size: 2.1rem;
        text-transform: uppercase;
      }
    }
  }
}

.subscribe-section {
  @include linear_background("../../img/subscribe_section_background.jpg");
  background-size: cover;
  background-position: center;
  .subscribe-section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    .subscribe-section-heading {
      display: none;
    }
    .subscribe-input {
      height: 5rem;
      padding: 0 2.3rem;
      border-radius: 1rem;
      border: none;
      outline: none;
      width: 56rem;
      font-size: 1.6rem;
      font-family: "Open Sans", sans-serif;
      &:focus {
        box-shadow: 0 0 5px $orange;
      }
    }
    .subscribe-button {
      font-family: "Open Sans", sans-serif;
      font-size: 1.6rem;
      padding: 0 9rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

.work-section {
  .work-heading {
    text-transform: uppercase;
    font-size: 3.5rem;
    span {
      color: $orange;
    }
  }
  .work-text {
    text-align: center;
    width: 70%;
    margin: 1.57rem 0 6.78rem 0;
  }
  .work-image-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    .single-image {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      position: relative;
      .single-image-content {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: white;
        .single-image-heading {
          font-size: 2.5rem;
          text-transform: uppercase;
        }
        .single-image-text {
          text-align: center;
          margin: 2.1rem 4.5rem;
        }
        .single-image-btn {
          background: white;
          color: $orange;
        }
      }
      &:hover {
        background: $orange;
        .work-img {
          opacity: 0.2;
          transition: opacity linear 0.3s;
        }
        .single-image-content {
          display: flex;
        }
      }
    }
  }
  .work-btn {
    margin-top: 10rem;
  }
}

.feedback-section {
  @include linear_background("../../img/feedback_background.jpg");
  background-size: cover;
  background-position: bottom;
  color: white;
  .feedback-container {
    position: relative;
    .feedback-heading {
      display: none;
    }
    .feedback-text {
      margin: 4rem 0;
      text-align: center;
      font-size: 2.5rem;
    }
    .feedback-name {
      font-size: 1.8rem;
    }
    .arrow-slide {
      position: absolute;
      top: 50%;
      color: $gray;
      font-size: 5rem;
      transform: translate(0, -50%);
      &:hover {
        color: white;
        cursor: pointer;
      }
    }
    .left-arrow {
      left: 0;
      &:active {
        transform: translate(-0.5rem, -50%);
        transition: transform linear 0.1s;
      }
    }
    .right-arrow {
      right: 0;
      &:active {
        transform: translate(0.5rem, -50%);
        transition: transform linear 0.1s;
      }
    }
  }
}

.team-section {
  .team-heading {
    text-transform: uppercase;
    font-size: 3.5rem;
    span {
      color: $orange;
    }
  }
  .team-describe {
    width: 40%;
    height: 8.3rem;
    overflow: hidden;
    font-size: 1.6rem;
    text-align: center;
    line-height: 3rem;
    margin-top: 1.53rem;
  }
  .members-list {
    width: 100%;
    display: flex;
    align-items: baseline;
    margin-top: 9.86rem;
    gap: 1rem;
    .member {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      flex-basis: 25%;
      .img-header {
        .member-img {
          width: 100%;
          filter: grayscale(100%);
          border-radius: 1rem;
          &:hover {
            filter: none;
            transform: scale(1.1);
            transform-origin: bottom;
            transition: transform linear 0.2s;
            cursor: pointer;
          }
        }
      }
      .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        // opacity: 0.5;
        .member-name {
          text-transform: uppercase;
          margin-top: 2rem;
          font-size: 2.5rem;
        }
        .list-icon {
          margin: 2.7rem 0;
          list-style: none;
          display: flex;
          flex-direction: row;
          gap: 1rem;
          a {
            color: white;
            text-decoration: none;
            i {
              width: 2.4rem;
              height: 2.4rem;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
            }
          }
        }
        .member-description {
          font-size: 1.4rem;
        }
      }
    }
  }
}

.contact-section {
  color: $white;
  @include linear_background("../../img/contact_background.jpg");
  .contact-heading {
    text-transform: uppercase;
    font-size: 3.5rem;
    span {
      color: $orange;
    }
  }
  .contact-describe {
    width: 40%;
    height: 8.3rem;
    overflow: hidden;
    font-size: 1.6rem;
    text-align: center;
  }
  .contact-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
    .input-email,
    .input-subject {
      flex-basis: calc(100% / 2 - 1.5rem);
      padding: 2rem;
      font-size: 1.5rem;
      outline: none;
      border-radius: 1rem;
      border: none;
    }
    .text-message {
      flex-basis: 100%;
      max-width: 100%;
      max-height: 20rem;
      min-height: 20rem;
      padding: 2rem;
      font-size: 1.5rem;
      outline: none;
      border-radius: 1rem;
      border: none;
    }
    .button-and-icons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      .icons-group {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 1rem;
        .icon {
          a {
            text-decoration: none;
            i {
              color: $white;
              border-radius: 50%;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              width: 4.3rem;
              height: 4.3rem;
            }
          }
        }
      }
    }
  }
}

.f-icon {
  background: $facebook;
}

.t-icon {
  background: $twitter;
}

.g-icon {
  background: $google;
  color: white;
}

.b-icon {
  background: $be;
}
