@import "../color";

.circle-icon {
  width: 3.4rem;
  height: 3.4rem;
  border: 2px solid white;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  bottom: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  &:hover {
    cursor: pointer;
  }
}
